# Data reviewing
This jupiter notebook is to see the data that we are going to work with in this part of the poject.

In [1]:
import pandas as pd

In [36]:
expression_data = pd.read_csv('data/RNAseq_z_score_adjustedCombat.csv')

In [60]:
expression_data.head()

,Sample,ENSG00000000003.14,ENSG00000000005.5,ENSG00000000419.12,ENSG00000000457.13,ENSG00000000460.16,ENSG00000000938.12,ENSG00000000971.15,ENSG00000001036.13,ENSG00000001084.11,...,ENSG00000285471.1,ENSG00000285472.1,ENSG00000285476.1,ENSG00000285480.1,ENSG00000285491.1,ENSG00000285505.1,ENSG00000285508.1,ENSG00000285509.1,Age,Experiment
0,SRR13388732,-0.024640,-0.027469,-0.007903,-0.026124,-0.026015,-0.026864,-0.021406,-0.022678,-0.022670,...,-0.027402,-0.027306,-0.027267,-0.026753,-0.027502,-0.027457,-0.024058,-0.027476,23.0,GSE164471
1,SRR13388733,-0.025765,-0.032593,-0.006575,-0.027678,-0.031369,-0.031862,-0.016857,-0.026578,-0.023808,...,-0.032615,-0.032575,-0.032619,-0.031722,-0.032605,-0.032541,-0.020310,-0.031807,28.0,GSE164471
2,SRR13388734,-0.030008,-0.036930,-0.005061,-0.034131,-0.029369,-0.037718,-0.015247,-0.030479,-0.027006,...,-0.037149,-0.038608,-0.038491,-0.037602,-0.038201,-0.038558,-0.036063,-0.037850,31.0,GSE164471
3,SRR13388735,-0.021340,-0.023615,-0.006280,-0.022375,-0.023463,-0.023325,-0.020330,-0.021371,-0.022376,...,-0.023713,-0.023718,-0.023678,-0.023091,-0.023741,-0.023709,-0.020413,-0.023409,31.0,GSE164471
4,SRR13388736,-0.019630,-0.034585,-0.005184,-0.031186,-0.026442,-0.034297,-0.022105,-0.015811,-0.017068,...,-0.034271,-0.033711,-0.034180,-0.033844,-0.035117,-0.035025,-0.031728,-0.034582,35.0,GSE164471

In [20]:
ensembl_to_symbol = pd.read_csv('data/ensmbl_list.csv', index_col = 0)
ensembl_to_symbol.head()

                geneSymbol
ensembl
ENSG00000000003     TSPAN6
ENSG00000000005       TNMD
ENSG00000000419       DPM1
ENSG00000000457      SCYL3
ENSG00000000460   C1orf112

In [25]:
ensembl_to_symbol_dic = ensembl_to_symbol.to_dict('index')

In [ ]:
ensembl_to_symbol_dic

In [67]:
ensembl_genes = expression_data.columns[1:-2]

In [63]:
ensembl_genes= [gene.split('.')[0] for gene in ensembl_genes ]

In [68]:
ensembl_genes[-10:]

Index(['ENSG00000285471.1', 'ENSG00000285472.1', 'ENSG00000285476.1',
       'ENSG00000285480.1', 'ENSG00000285491.1', 'ENSG00000285505.1',
       'ENSG00000285508.1', 'ENSG00000285509.1', 'Age', 'Experiment'],
      dtype='object')

In [55]:
column_symbols = [ensembl_to_symbol_dic[ensemble]['geneSymbol'] for ensemble in ensembl_genes]
column_symbols[:10]

['TSPAN6',
 'TNMD',
 'DPM1',
 'SCYL3',
 'C1orf112',
 'FGR',
 'CFH',
 'FUCA2',
 'GCLC',
 'NFYA']

In [ ]:
column_symbols_ = ['Sample']
column_symbols_.extend(column_symbols)

column_symbols_.extend(["Age", "Experiment"])

In [71]:
len(column_symbols_)

34508

In [72]:
expression_data.columns = column_symbols_
expression_data.head()

,Sample,TSPAN6,TNMD,DPM1,SCYL3,C1orf112,FGR,CFH,FUCA2,GCLC,...,AC007846.2,AC134980.5,AC139491.7,AC021097.2,AC135068.11,AC010616.2,AL034430.1,AP000646.1,Age,Experiment
0,SRR13388732,-0.024640,-0.027469,-0.007903,-0.026124,-0.026015,-0.026864,-0.021406,-0.022678,-0.022670,...,-0.027402,-0.027306,-0.027267,-0.026753,-0.027502,-0.027457,-0.024058,-0.027476,23.0,GSE164471
1,SRR13388733,-0.025765,-0.032593,-0.006575,-0.027678,-0.031369,-0.031862,-0.016857,-0.026578,-0.023808,...,-0.032615,-0.032575,-0.032619,-0.031722,-0.032605,-0.032541,-0.020310,-0.031807,28.0,GSE164471
2,SRR13388734,-0.030008,-0.036930,-0.005061,-0.034131,-0.029369,-0.037718,-0.015247,-0.030479,-0.027006,...,-0.037149,-0.038608,-0.038491,-0.037602,-0.038201,-0.038558,-0.036063,-0.037850,31.0,GSE164471
3,SRR13388735,-0.021340,-0.023615,-0.006280,-0.022375,-0.023463,-0.023325,-0.020330,-0.021371,-0.022376,...,-0.023713,-0.023718,-0.023678,-0.023091,-0.023741,-0.023709,-0.020413,-0.023409,31.0,GSE164471
4,SRR13388736,-0.019630,-0.034585,-0.005184,-0.031186,-0.026442,-0.034297,-0.022105,-0.015811,-0.017068,...,-0.034271,-0.033711,-0.034180,-0.033844,-0.035117,-0.035025,-0.031728,-0.034582,35.0,GSE164471

In [73]:
expression_data.to_csv('data/RNAseq_z_score_adjustedCombat_symbols.csv')